*.o
*.img
*.d
*.swp
*.pyc
kernel.bin
initrd.img
TextOS.iso

testing_area
*.dSYM
tags
Session.vim

serial-output

initrd/bin/*
initrd/ext2/
initrd/fat/

toolchain/distfiles
toolchain/build-*
toolchain/gcc-4.*
toolchain/newlib-1.*
toolchain/gdb-7.*
toolchain/binutils-2.*
isofiles/
contrib
net-scripts/
run.sh
SLIM/
